// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clearfix
@mixin clearfix() {
  content: "";
  display: table;
  table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}

// Transition
@mixin transition() {
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
}

// Transition
@mixin transitionSlow() {
  transition: .5s ease-out;
  -webkit-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  -moz-transition: .5s ease-out;
}

// Transition
@mixin transitionReallySlow() {
  transition: .75s ease-out;
  -webkit-transition: .75s ease-out;
  -o-transition: .75s ease-out;
  -moz-transition: .75s ease-out;
}

@mixin greyGradient() {
  background: rgba(255,103,126,1);
  background: -moz-linear-gradient(left, rgba(255,103,126,1) 0%, rgba(254,177,61,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,103,126,1)), color-stop(100%, rgba(254,177,61,1)));
  background: -webkit-linear-gradient(left, rgba(255,103,126,1) 0%, rgba(254,177,61,1) 100%);
  background: -o-linear-gradient(left, rgba(255,103,126,1) 0%, rgba(254,177,61,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,103,126,1) 0%, rgba(254,177,61,1) 100%);
  background: linear-gradient(to right, rgba(255,103,126,1) 0%, rgba(254,177,61,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff677e', endColorstr='#feb13d', GradientType=1 );
}

@keyframes tileUp {
  0%{
    transform: translateY(350px);
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin pulse(){
  animation: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes pulse {
  0%{
    opacity: .5;
    transform: translateY(0);
  }
  50%{
    opacity: 1;
    transform: translateY(-5px);
  }
  100%{
    opacity: .5;
    transform: translateY(0);
  }
}