input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $color__text-input;
  border: 1px solid #D5D5D5;
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
  outline: none;
  margin-bottom:15px;
  &.wpcf7-not-valid{
    border: 2px solid red;
  }
  &:focus {
    color: $color__text-input-focus;
    border: 1px solid $color__company-secondary;
  }
}

select {
  border: 1px solid $color__border-input;
}

textarea{
  padding: 10px 15px 15px;
}

input[type="submit"]{
  @include transition;
  background: $color__company-secondary;
  padding:12px 25px;
  border-radius: 25px;
  text-decoration: none;
  border:none;
  color: #fff;
  font-size: 1rem;
  &:hover{
    background: $color__company-tertiary;
    color: #fff;
  }
}