
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: $font__title;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1{
  font-size:3rem;
  color: $color__company-primary;
}

h2{
  font-size:2.5rem;
  color: rgba(0, 0, 0, 0.75);
}

h3{
  font-size:2rem;
}

h4{
  font-size:1.5rem;
}


p{
  font-weight: 500;
  letter-spacing: 1px;
}

@media all and (max-width: 576px){
  h1{
    font-size:2.25rem;
  }
  h2{
    font-size:2rem;
  }
}