$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #404040;
$color__link-visited: purple;
$color__link-hover: #696969;
$color__text-main: #404040;

$color__company-primary: black; // Primaire kleur van website
$color__company-primary--opacity: rgba(0,0,0,0.6); // Primaire kleur van website

$color__company-secondary: #C51F2D; // Tertiary kleur van website
$color__company-tertiary: #474747; // Secondaire kleur van website
$color__company-grey: #bc1d7b;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
