a {
  &:link, &:visited {
    color: $color__link;
  }

  &:hover, &:focus, &:active {
    color: $color__link-hover;
    outline: none;
  }
}

a.primary-cta {
  @include transition;
  background: $color__company-primary;
  border-radius: 20px 0 20px 0;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;

  &:link, &:visited {
    color: $color__company-grey;
  }

  &:hover {
    background: $color__company-secondary;
  }

  &.cta-full {
    width: 100%;
    background: none;
    padding: 10px 60px;
  }

  &.trans {
    background: none;
  }
}

a.primary-btn {
  @include transition;
  background: $color__company-primary;
  border-radius: 20px 0 20px 0;
  padding: 12px 25px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;

  &:link, &:visited {
    color: #fff;
    font-weight: 600;
  }

  &:hover {
    background: $color__company-secondary;
  }

  &.invert {
    background: transparent;
    color: #fff;
    border: 3px solid #fff;

    &:hover {
      background: rgba(0, 0, 0, 0.80);
      color: #fff;
      border-color: rgba(0, 0, 0, 0.80);
    }
  }
}

a.secondary-btn {
  @include transition;
  background: $color__company-secondary;
  border-radius: 20px 0 20px 0;
  padding: 12px 25px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;

  &:link, &:visited {
    color: #fff;
    font-weight: 600;
  }

  &:hover {
    background: $color__company-tertiary;
  }

  &.invert {
    background: transparent;
    color: #fff;
    border: 3px solid #fff;

    &:hover {
      background: rgba(0, 0, 0, 0.80);
      color: #fff;
      border-color: rgba(0, 0, 0, 0.80);
    }
  }
}

a.footer-link {
  //text-transform: uppercase;

  &:link, &:visited {
    color: #fff;
    font-weight: 600;
  }
}

a.unset {
  &:link, &:visited {
    color: unset;
  }
}

a.cta-tel, a.cta-mail {
  svg {
    @include transition;
  }

  &:hover {
    svg {
      transform: rotate(20deg);
    }
  }
}