section.shop-archive {
  position: relative;
  z-index: 3;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(
                    0deg,
                    rgba(255, 255, 255, 1) 30%,
                    rgba(4, 0, 61, 0.1) 100%
    );
    //z-index: -1;

    @media (min-width: 768px) {
      width: 36%;
    }
    @media (min-width: 992px) {
      width: 30%;
    }
    @media (min-width: 1200px) {
      width: 29%;
    }
    @media (min-width: 1440px) {
      width: 28%;
    }
    @media (min-width: 1600px) {
      width: 26%;
    }
    @media (min-width: 1800px) {
      width: 26%;
    }
  }

  .archive-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;


    .filter-toggle {
      display: none;
      margin-bottom: 25px;
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 600;
      @media all and (max-width: 576px) {
        display: block;
      }

      &::before {
        content: '';
        background: url("/wp-content/themes/webcommitment-theme/img/icons/filter-icon.png");
        width: 20px;
        height: 20px;
        background-size: contain;
        display: inline-block;
        vertical-align: middle;
        transform: translateY(-1px);
      }
    }

    aside {
      flex-basis: 20%;
      margin-bottom: 50px;
      padding-right: 50px;;

      .sidebar-close-btn {
        display: none;
      }

      section.widget {
        margin-bottom: 25px;

        h2 {
          font-size: 1.3rem;
          line-height: 1.5rem;
          font-weight: 300;
          color: $color__company-primary;
        }

        ul {
          list-style-type: none;
          padding: 0;
          margin: 25px 0 0;

          li {
            padding: 10px;
            margin-bottom:10px;
            background: rgba(0, 0, 0, 0.033);
            font-weight: 600;
            border-radius: 5px;
            a {
              text-decoration: none;
              text-transform: uppercase;
              color: $color__company-primary;
            }

            &.cat-item-19 {
              display: none;
            }

            &.current-cat {
              background: $color__company-secondary;
              a {
                color: #fff;
                font-weight: 600;
              }
            }

            &:hover{
              background: rgba(0, 0, 0, 0.1);
              a{
                color: $color__company-primary;
              }
            }

            .count {
              display: none;
            }
          }
        }
      }
    }

    .archive-product-wrapper {
      flex-basis: 75%;
    }
  }
}

@media all and (max-width: 992px) {
  section.shop-archive {
    .archive-inner {
      aside {
        flex-basis: 33%;
        margin-right: 5%;
      }
    }
  }
}

@media all and (max-width: 576px) {
  section.shop-archive {
    padding-top: 25px !important;

    .woocommerce-ordering {
      float: none;
    }

    .archive-inner {
      flex-wrap: wrap;

      aside {
        @include transition;
        flex-basis: 100%;
        margin-right: 0;
        position: fixed;
        top: 0;
        left: -15px;
        background: $color__company-secondary;
        width: 0;
        opacity: 0;
        visibility: hidden;
        height: 100vh;
        z-index: 20;
        padding: 50px 15px 75px;
        overflow-y: auto;

        .sidebar-close-btn {
          display: block;
          position: absolute;
          top: 10px;
          right: 10px;

          svg {
            width: 25px;
            height: auto;
          }
        }

        &.is-active {
          width: 75%;
          visibility: visible;
          left: 0;
          opacity: 1;
        }

        section.widget {
          h2 {
            font-size: 1.25rem;
            line-height: 1.75rem;
            color: #fff;
            font-weight: 600;
          }

          ul {
            li {
              border-color: #fff;

              a {
                color: #fff;
              }

              &.current-cat {
                border-color: #fff;

                a {
                  color: #fff;
                  font-weight: 600;

                  &::before {
                    content: '- ';
                  }
                }
              }
            }
          }
        }
      }

      .archive-product-wrapper {
        flex-basis: 100%;
      }
    }
  }
}