footer {
  background: $color__company-secondary;
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 25px 0;
  font-size: .8rem;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $color__company-primary;
    opacity: 0.86;
    //mix-blend-mode: multiply;
  }

  table.footer-menu {
    border-spacing: 0 15px;
    margin: 0;
    border-collapse: separate;
  }

  .social-items {
    a {
      svg {
        @include transition;
        width: 30px;
        margin-right: 10px;
        height: auto;

        path {
          fill: #fff;
        }
      }

      &:hover {
        svg {
          opacity: .7;
        }
      }
    }
  }

  .footer-brand {
    margin: 0 auto;

    .brand-wrapper {
      //width: 100px;
      //height: 100px;
      margin: 0 auto;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 40px;

      svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .company-info {
    float: right;

    ul {
      list-style-type: none;
      //margin: 15px 0 0;
      padding: 0;

      li {
        margin: 15px 0;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;

        a {
          &:link, &:visited {
            color: #fff;
          }
        }
      }
    }
  }

  .footer-bottom {
    background-color: black;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    //&__flag {
    //  text-align: center;
    //}

    ul {
      display: flex;
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;
      justify-content: space-between;
      align-items: center;

      li {
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 700;

        a {
          color: white !important;
        }
      }
    }

  }
}


@media all and (max-width: 576px) {
  footer {
    .company-info {
      float: none;
    }
  }
}

@media all and (max-width: 992px) {
  footer {
    .company-info {
      .footer-brand {
        margin: 0;
      }
    }

    .footer-bottom {
      //&__flag {
      //  text-align: left;
      //}
    }
  }
}
