
article#front-page {
  section#front-banner {
    .banner-wrapper {
      height: calc(25vw + 35vh);
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .front-intro {
    background: #fff;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

    h1 {
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  section#section-2 {
    margin: 20px 0 0;

    .scroll-down{
      display: block;
      width: 50px;
      height:50px;
      margin:0 auto;
      @include pulse;
      img{
        width:100%;
        height:100%;
        object-fit: contain;
      }
  }

    .page-title {
      margin-bottom: 25px;
      margin-top:0;
    }

    .page-child-wrapper {
      padding: 25px 0;
    }
  }

  section#front-banner {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -90px;
      z-index: 2;
      bottom: -50px;
      width: 400px;
      height: 150px;
      background-image: url('/wp-content/themes/webcommitment-theme/img/icons/mountains-left.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom left;
      @media all and (max-width: 576px){
        display: none;
      }
      @media (min-width: 992px) {
        width: 400px;
        height: 300px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      right: -150px;
      bottom: -50px;
      width: 400px;
      height: 150px;
      background-image: url('/wp-content/themes/webcommitment-theme/img/icons/mountains-left.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom left;
      @media all and (max-width: 576px){
        display: none;
      }
      @media (min-width: 992px) {
        width: 400px;
        height: 300px;
      }
    }

    #headerFrontCarousel {
      ol.carousel-indicators {
        li {
          width: 16px !important;
          height: 16px !important;
          border-radius: 2px;
          bottom: 30px !important
        }
      }

      .carousel-item {
        background-size: cover;
        background-position: center;
        height: 55vh;

        @media all and (min-width: 576px){
          background-position: top;
          height: 55vw;
        }

        @media all and (min-width: 768px){
          height: 45vw;
        }

        @media all and (min-width: 992px){
          height: 37.916vw;
        }

        .col-slider, .row-slider {
          height: 100%;
        }

        .slider-wrap {
          display: table;
          height: 100%;
          width: 100%;
          //margin: 0 15px;

          .slider-inner {
            display: table-cell;
            vertical-align: middle;

            .slider-title {
              font-weight: 400;
              color: #fff;
              font-size: 3.5rem;
              line-height: 4rem;
              text-transform: uppercase;
              text-align: center;
              text-shadow: 1px 3px 24px #ffffff99;

              span.strong {
                font-weight: 700;
                font-size: 4.5rem;
                line-height: 4.5rem;
              }
            }

            .slider-content {
              color: #fff;
              margin-bottom: 30px;
              max-width: 70%;
              text-align: center;

              p {
                margin: 25px 0 25px;
              }
            }

            .slider-cta {
              margin: 15px auto 0;
              display: flex;
              justify-content: center;
            }
          }
        }
      }

      .carousel-control-prev, .carousel-control-next {
        width: 100px;
      }
    }

  }

  section#section-slider {
    #frontCarousel {
      .carousel-item {
        height: 30vw;
        min-height: 50vh;
        background-size: cover;
        background-position: center;

        &::before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: rgb(0, 0, 0);
          background: linear-gradient(90deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0.8) 45%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0) 100%);
        }

        .col-slider, .row-slider {
          height: 100%;
        }

        .slider-wrap {
          display: table;
          height: 100%;
          width: 46vw;
          margin: 0 15px;

          .slider-inner {
            display: table-cell;
            vertical-align: middle;

            .slider-title {
              font-weight: 400;
              color: #fff;
              text-transform: uppercase;
              text-align: left;
            }

            .slider-content {
              color: #fff;
              margin-bottom: 30px;
              max-width: 70%;
              text-align: left;

              p {
                margin: 25px 0 25px;
              }
            }

            .slider-cta {
              margin-top: 50px
            }
          }
        }
      }

      .carousel-control-prev, .carousel-control-next {
        width: 80px;;

      }

      .carousel-control-prev {
        transform: rotate(270deg);
      }

      .carousel-control-next {
        transform: rotate(90deg);
      }

      .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='305.103' height='189.195' viewBox='0 0 305.103 189.195'%3E%3Cpath id='Path_228' data-name='Path 228' d='M128.817,0C165.133,130.6,305.1,189.195,305.1,189.195S220.841,166.56,136.818,166.56C40.212,166.56,0,189.165,0,189.165S102.018,118.228,128.817,0' transform='translate(0)' fill='%23fff'/%3E%3C/svg%3E");
        height: 70px;
        width: 70px;
      }

      .carousel-control-next-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='305.103' height='189.195' viewBox='0 0 305.103 189.195'%3E%3Cpath id='Path_228' data-name='Path 228' d='M128.817,0C165.133,130.6,305.1,189.195,305.1,189.195S220.841,166.56,136.818,166.56C40.212,166.56,0,189.165,0,189.165S102.018,118.228,128.817,0' transform='translate(0)' fill='%23fff'/%3E%3C/svg%3E");
        height: 70px;
        width: 70px;
      }

    }
  }
}

section#section-slider {

  #frontCarousel {
    .carousel-item {
      height: 30vw;
      min-height: 50vh;
      background-size: cover;
      background-position: center;

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0.8) 45%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0) 100%);
      }

      .col-slider, .row-slider {
        height: 100%;
      }

      .slider-wrap {
        display: table;
        height: 100%;
        width: 46vw;
        margin: 0 15px;

        .slider-inner {
          display: table-cell;
          vertical-align: middle;

          .slider-title {
            font-weight: 400;
            color: #fff;
            text-transform: uppercase;
            text-align: left;
          }

          .slider-content {
            color: #fff;
            margin-bottom: 30px;
            max-width: 70%;
            text-align: left;

            p {
              margin: 25px 0 25px;
            }
          }

          .slider-cta {
            margin-top: 50px
          }
        }
      }
    }

    .carousel-control-prev, .carousel-control-next {
      width: 80px;

    }

    .carousel-control-prev {
      transform: rotate(270deg);
    }

    .carousel-control-next {
      transform: rotate(90deg);
    }

    .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='305.103' height='189.195' viewBox='0 0 305.103 189.195'%3E%3Cpath id='Path_228' data-name='Path 228' d='M128.817,0C165.133,130.6,305.1,189.195,305.1,189.195S220.841,166.56,136.818,166.56C40.212,166.56,0,189.165,0,189.165S102.018,118.228,128.817,0' transform='translate(0)' fill='%23fff'/%3E%3C/svg%3E");
      height: 70px;
      width: 70px;
    }

    .carousel-control-next-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='305.103' height='189.195' viewBox='0 0 305.103 189.195'%3E%3Cpath id='Path_228' data-name='Path 228' d='M128.817,0C165.133,130.6,305.1,189.195,305.1,189.195S220.841,166.56,136.818,166.56C40.212,166.56,0,189.165,0,189.165S102.018,118.228,128.817,0' transform='translate(0)' fill='%23fff'/%3E%3C/svg%3E");
      height: 70px;
      width: 70px;
    }

  }
}


@media all and (max-width: 1200px) {
  section#section-slider {
    #frontCarousel {
      .carousel-item {
        .slider-wrap {
          width: 100%;
          margin: 0;
          text-align: center;
        }
      }
    }
  }
  article#front-page {
    section#section-slider {
      #frontCarousel {
        .carousel-item {
          .slider-wrap {
            width: 100%;
            margin: 0;
            text-align: center;
          }
        }
      }
    }

    section#front-banner {

      #headerFrontCarousel {
        ol.carousel-indicators {
          li {
            width: 16px !important;
            height: 16px !important;
            border-radius: 2px;
          }
        }

        .carousel-item {
          .slider-wrap {
            .slider-inner {
              .slider-title {
                font-weight: 400;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                text-shadow: 1px 3px 24px #ffffff99;

                span.strong {
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  section#section-slider {
    //margin-top: -25px;

    #frontCarousel {
      .carousel-item {
        .slider-wrap {
          width: 80vw;
          margin: 0 15px;

          .slider-inner {
            .slider-title {
              font-size: 2rem;
              line-height: 2rem;
              text-align: left;
            }

            .slider-content {
              max-width: 100%;
            }
          }
        }
      }
    }


  }
  article#front-page {
    section#section-slider {
      //margin-top: -25px;

      #frontCarousel {
        .carousel-item {
          .slider-wrap {
            width: 80vw;
            margin: 0 15px;

            .slider-inner {
              .slider-title {
                font-size: 2rem;
                line-height: 2rem;
                text-align: left;
              }

              .slider-content {
                max-width: 100%;
              }
            }
          }
        }
      }
    }

    section#front-banner {
      #headerFrontCarousel {
        .carousel-item {
          .slider-wrap {

            .slider-inner {

              .slider-title {
                font-weight: 400;
                color: #fff;
                font-size: 2.5rem;
                line-height: 3rem;
                text-transform: uppercase;
                text-align: center;
                text-shadow: 1px 3px 24px #ffffff99;

                span.strong {
                  font-weight: 700;
                  font-size: 3.5rem;
                }
              }

            }
          }
        ;

        }

      }

    }
  }
}

@media all and (max-width: 576px) {
  article#front-page {
    section#section-2 {
      margin-top: 25px;

      .page-title {
        margin-bottom: 25px;
      }
    }
  }
}

@media all and (max-width: 414px) {
  section#section-slider {
    #frontCarousel {
      .carousel-item {
        height: 110vw;
      }
    }
  }
  article#front-page {
    section#section-slider {
      #frontCarousel {
        .carousel-item {
          height: 110vw;
        }
      }
    }
  }
}