.col-card {
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 50px;
}

iframe {
  margin-bottom: -6px;
}

.content-card {
  padding: 2%;

  .card-title {
    h2 {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.65rem;
    }
  }

  .card-thumb {
    width: 100%;
    height: 15vw;
    margin: 25px 0;
    overflow: hidden;
    position: relative;
    border-radius: 0 50px 0 50px;

    img {
      @include transition;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &--front {
      img {
        object-fit: cover !important;
      }

    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    span.date {
      position: absolute;
      top: 10px;
      left: 10px;
      background: $color__company-primary;
      padding: 10px 15px;
      font-size: .8rem;
      color: #fff;
      font-weight: 600;
    }

    span.cat {
      position: absolute;
      text-transform: uppercase;
      top: 10px;
      right: 10px;
      background: #fff;
      padding: 10px 15px;
      font-size: .8rem;
      color: rgba(0, 0, 0, 0.75);
      font-weight: 600;
    }
  }

  .card-excerpt {
    //color: #999999;
    margin-bottom: 15px;
    font-weight: 500;
  }

  .card-cta {
    position: absolute;
    bottom: 30px;

    a {
      color: #fff
    }
  }
}

#front-page {
  .card-thumb {
    height: 22.5vw;
  }
}

.single-misc {
  margin-bottom: 25px;

  .date {
    background: $color__company-primary;
    padding: 10px 15px;
    font-size: .8rem;
    color: #fff;
    font-weight: 600;
  }

  .cat {
    background: $color__company-secondary;
    margin-left: 15px;
    padding: 10px 15px;
    font-size: .8rem;
    color: #fff;
    font-weight: 600;
  }
}

.section-galerij {
  margin: 0 0 75px;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;

    @media all and (min-width: 576px) {
      gap: 20px;
    }
  }

  &__item {
    overflow: hidden;
    flex: 0 0 calc(33.33333% - 7px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    @media all and (min-width: 576px) {
      flex: 0 0 calc(25% - 21px);
    }

    @media all and (min-width: 768px) {
      flex: 0 0 calc(16.666667% - 17px);
    }

    img {
      @include transition;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

aside.page-cta-wrapper {
  background-color: #D4D4D4;
  padding: 40px 15px;
  position: relative;

  //
  .bucket {
    @media all and (min-width: 768px) {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      display: block;
      top: -50px;
      width: 350px;
      height: 350px;
      opacity: 1;
      z-index: 2;
    }
  }

  // left first bucket
  .bucket:first-child {
    @media all and (min-width: 768px) {
      opacity: 0.14;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      left: -100px;
      background-image: url('/wp-content/themes/webcommitment-theme/img/icons/mountains-left.svg');
    }
  }

  .bucket:last-child {
    @media all and (min-width: 768px) {
      opacity: 0.14;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      right: -100px;
      background-image: url('/wp-content/themes/webcommitment-theme/img/icons/mountains-right.svg');
    }
  }


  .cta-desc {
    padding-top: 20px;

    .cta-subtitle {
      font-weight: 500;
    }

    .cta-title {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }

  svg {
    width: 25px;
    height: 25px;
    filter: brightness(0);
  }

  a {

    &:link,
    &:visited {
      color: rgba(0, 0, 0, 0.75);
    }
  }
}

@media all and (max-width: 992px) {
  .content-card {
    padding: 0;

    .card-thumb {
      height: 25vw;
    }
  }

  #front-page {
    .card-thumb {
      height: 25vw;
    }
  }
}

@media all and (max-width: 576px) {
  .content-card {
    padding: 0;

    .card-thumb {
      height: 50vw;
    }
  }

  #front-page {
    .card-thumb {
      height: 60vw;
    }
  }

  .page-cta-wrapper {
    .col-12 {
      margin-top: 30px;
    }
  }
}