.grecaptcha-badge{
  visibility: hidden;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;

  figure {
    position: fixed;
    top: 0;
    left: 0;

    .brand-wrapper {
      position: absolute;
      @include transition;
      width: 150px;
      height: auto;
      left: 0 !important;
      top: 0 !important;
      padding: 15px 5px;
      background: #fff;
      transform: translateY(-20px);
      border-bottom-right-radius: 15px;


      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        padding: 10%;

      }
    }

    .disappear {
      display: none;

    }
  }

  #fixed-header {
    &::before {
      @include transition;
      content: '';
      position: absolute;
      pointer-events: none;
      z-index: -1;
      top: 0;
      left: 0;
      opacity: .5;
      width: 100%;
      height: 200px;
      background: rgba(0, 0, 0, 1);
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 0)));
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
      background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
      background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
    }

    @include transition;
    position: absolute;
    z-index: 6;
    padding: 0 15px;
    width: 100%;
    display: block;

    .header-inner {
      height: 100%;
      width: 100%;
      position: relative;

      .nav-wrapper {
        position: absolute;
        right: 0;
        top: 0;

        .language-switch {
          position: absolute;
          top: 0;
          right: 0;
        }

        .nav-wrapper-inner {
          margin-top: 50px;
        }

        .nav-user {
          display: inline-block;
          float: left;
          font-weight: 600;
          margin-right: 25px;
          color: #fff;

          a {
            &:link, &:visited {
              color: #fff;
            }
          }
        }

        .cta-phone {
          display: inline-block;
          float: left;
          padding-top: 6px;

          a {
            color: #fff;
            //background: none;

            svg {
              @include transition;
              width: 25px;
              height: 25px;
              filter: invert(1);
            }

            &:hover {
              svg {
                transform: rotate(20deg);
              }
            }
          }
        }

        .instagram {
          display: inline-block;
          float: left;
          //padding-top: 6px;
          margin-left: 20px;
          margin-right: -15px;

          a {
            svg {
              @include transition;
              width: 28px;
              height: 28px;
              filter: invert(1);
            }

            &:hover {
              svg {
                transform: rotate(20deg);
              }
            }
          }
        }

        .hamgebur {
          cursor: pointer;
          display: inline-block;
          float: right;
          transform: translateY(-13px);
        }
      }
    }

    &.page-header {
      &::before {
        height: 150px;
      }

      .header-inner {
        height: 100%;
        width: 100%;
        position: relative;

        figure {
          .brand-wrapper {
            width: 90px;
            @media all and (min-width: 576px){
              width: 150px;
            }
            height: auto;
          }
        }
      }
    }
  }

  &.is-open {
    #fixed-header {
      position: fixed;

      &::before {
        opacity: 0;
      }

      .header-inner {
        figure {
          .brand-wrapper {
            width: 125px;
            height: auto;
          }
        }
      }
    }
  }

  &.is-sticky {
    #fixed-header {
      background: $color__company-primary--opacity;

      height: 65px;
      position: fixed;
      top: 0;
      padding-top: 15px;

      &::before {
        display: none;
      }

      .header-inner {
        figure {
          .brand-wrapper {
            position: absolute;
            @include transition;
            width: 100px;
            height: auto;
            padding: 15px;
            background: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          }
        }

        .nav-wrapper {
          top: 100%;

          .nav-wrapper-inner {
            margin-top: 0;
          }

          .language-switch {
            display: none;
          }
        }
      }
    }
  }
}

nav#menu-overlay {
  @include transition;
  position: fixed;
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100vh;
  //max-width: 100vw;
  z-index: 5;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: auto !important;

  .overlay-inner {
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;

    .menu-item {
      width: calc(33% - (2 * 15px));
      float: left;
      margin: 15px;
      padding: 0 25px;
      text-align: center;

      .menu-name {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.6rem;
        margin-bottom: 10px;

        a {
          &:link, &:visited {
            color: #fff;
          }
        }
      }

      .menu-img {
        width: 100%;
        height: 15vw;
        overflow: hidden;
        border-radius: 0 50px;

        img {
          @include transition;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &:hover {
        .menu-img {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: unset;

    .overlay-inner {
      .menu-item {
        animation: tileUp .5s both ease-in-out;
      }

      @for $p from 1 through 10 {
        .menu-item:nth-child(#{$p}n) {
          animation-delay: #{$p * .05}s;
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  nav#menu-overlay {
    .overlay-inner {
      margin-top: 125px;

      .menu-item {
        padding: 0;

        .menu-img {
          height: 17vw;
        }
      }
    }
  }
}

@media all and (max-width: 576px) {
  header {
    #fixed-header {
      .header-inner {
        .nav-wrapper {
          .cta-phone {
            display: none;
          }
        }

        figure {
          .brand-wrapper {
            width: 75px;
          }
        }
      }
    }
  }
  nav#menu-overlay {
    .overlay-inner {
      margin-top: 125px;

      .menu-item {
        width: calc(50% - (2 * 15px));

        .menu-img {
          height: 25vw;
        }
      }
    }
  }
}

@media all and (max-width: 414px) {
  nav#menu-overlay {
    .overlay-inner {
      margin-top: 125px;

      .menu-item {
        width: calc(100% - (2 * 15px));

        .menu-img {
          height: 50vw;
        }
      }
    }
  }
}
