.login form .input, .login form input[type=checkbox], .login input[type=text] {
  outline: 0;
  box-shadow: none !important;
  &:focus {
    border-color: $color__company-primary;
  }
}

.login {
  #backtoblog {
    display: none;
  }
}

.wp-hide-pw {
  color: $color__company-primary !important;
}

.wp-core-ui .button-primary{
  background-color: $color__company-secondary;
  outline: 0 !important;
  border-color: $color__company-primary;
  &:hover, &:active, &:focus{
    background-color: $color__company-tertiary;
    border-color: $color__company-tertiary;
  }
}

body.login{
  background-color: $color__company-primary;
  form{
    color: #fff;
    border: none;
    background: none;
    padding:0;
    box-shadow: none;
    input[type="text"], input[type="password"]{
      background: none;
      border:none;
      border-bottom: solid 1px #fff;
      padding-left:0;
      border-radius: 0;
      color: #fff;
      &:focus{
        border-color: #fff;
      }
    }
  }
}

.login{
  #nav{
    padding:0;
    a{
      color: #fff !important;
    }
  }
  .message{
    border-color: $color__company-primary;
  }
  a{
    &:link, &:visited{
      color: $color__text-main;
    }
    &:hover, &:active{
      color: $color__company-primary !important;
    }
  }
  h1{
    box-shadow: none;
    border: none;
    a{
      box-shadow: none;
      border: none;
      pointer-events: none;
      width:100%;
      height:100px;
      background-image: url("/wp-content/themes/webcommitment-theme/img/logo-white.svg");
      background-size: contain;
      background-position: center;
    }
  }
}