.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

#main-page, body, html {
  &.disable-overflow {
    position: relative;
    overflow: hidden !important;
  }
}

body {
  &.is-fixed {
    position: fixed;

    &:before {
      content: '';
      background: #000;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: .75;
    }
  }
}

#main-page {
  @include transitionReallySlow;
  opacity: 0;
  overflow-x: hidden;

  &.fade-out {
    opacity: 0;
  }

  &.fade-in {
    opacity: 1;

  }
}

.visibility {
  @include transitionSlow;
  transform: translateY(75px);
  opacity: 0;

  &.is-visible {
    transform: translateY(0);
    opacity: 1;
  }
}

section.page-banner {
  height: 28.64vw;
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  display: table;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: -90px;
    bottom: -50px;
    width: 300px;
    height: 400px;
    z-index: 0;
    background-image: url('/wp-content/themes/webcommitment-theme/img/icons/mountains-left.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
  }

  &:after {
    content: '';
    z-index: 0;
    position: absolute;
    right: -200px;
    bottom: -50px;
    width: 300px;
    height: 400px;
    background-image: url('/wp-content/themes/webcommitment-theme/img/icons/mountains-left.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
    @media (min-width: 992px) {
      right: -150px;
    }
  }


  .banner-inner {
    display: table-cell;
    vertical-align: middle;
    transform: translateY(50px);

    .banner-content {
      position: relative;
      z-index: 1;

      &::before {
        content: '';
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        left: 0;
        width: 60%;
        height: 100%;
        border-top-right-radius: 100px;
      }

      .content {
        h1 {
          margin-bottom: 5px;
          font-size:2rem;
        }

        padding-bottom: 0;
        width: 55%;
      }
    }
  }

  &.page-banner-product-single {
    height: 15vw;
  }

  &.error-banner {
    height: 15vw;
  }
}

section#page {
  padding: 75px 0;

  h1, h2, h3, h4, h5 {
    font-weight: 600;
  }

  .content-img {
    overflow: hidden;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    max-height: 100%;

    img {
      //border-top-left-radius: 50px;
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
  }

  h2 {
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
}

section#blogarchive {
  padding: 75px 0 0;
}

section#page-contact {
  padding: 50px 0 0;

  ul {
    list-style-type: none;
    font-weight: 300;
    margin: 0;
    padding: 0;

    li {
      padding: 3px 0;
    }
  }

  .cf-wrapper {
    margin-top: 50px;
    padding: 50px 0 100px;
    background: #F7F7F7;
    position: relative;

    .cf-left {
      width: 49%;
      float: left;
    }

    .cf-right {
      width: 49%;
      float: right;
    }

    .cf-send {
      display: block;
      position: absolute;
      right: 0;
      bottom: -50px;
    }

    .wpcf7-response-output {
      position: absolute;
      bottom: -40px;
      margin: 0;
    }

    .wpcf7-not-valid-tip {
      display: none;
    }
  }
}

section#page-parent {
  padding: 50px 0 0;

  h2 {
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  .page-parent-intro {
    padding-bottom: 25px;
  }
}

.impressie-title {
  margin-bottom: 2.5rem;
}

@media all and (max-width: 992px) {
  section.page-banner {
    min-height: 40vw;

    &.error-banner {
      min-height: 15vw;
      height: 15vw;
    }

    .banner-inner {
      .banner-content {
        &::before {
          width: 65%;
        }

        .content {
          width: 60%;
        }
      }
    }

    &.page-banner-product-single {
      min-height: 225px;
    }
  }
}

@media all and (max-width: 768px) {

  .visibility {
    @include transitionSlow;
    transform: translateY(75px);
    opacity: 1;

  }
  section.page-banner {
    min-height: 100vw;

    &.error-banner {
      min-height: 30vw;
      height: 30vw !important;
    }

    .banner-inner {
      vertical-align: bottom;
      transform: translateY(2px);

      .banner-content {
        &::before {
          width: 100%;
          opacity: .8;
        }

        .content {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
  section#referentie-projecten {
    .carousel-inner {
      min-height: 60vh;
    }

    .carousel-item {
      .ref-content {
        padding: 10px 15px;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: translateY(1px);
        background: rgba(255, 255, 255, 0.75);
        font-size: .8rem;
      }
    }
  }
  section#page-contact {
    .cf-wrapper {
      .wpcf7-response-output {
        position: unset;
        border: none;
        width: 100%;
        padding: 0;
        margin-top: 15px;
      }
    }
  }
}

@media all and (max-width: 576px) {
  section#page-contact {
    .cf-wrapper {
      padding: 50px 0 50px;

      .cf-left {
        width: 100%;
        float: none;
      }

      .cf-right {
        width: 100%;
        float: none;
      }

      .cf-send {
        position: unset;
      }
    }
  }
}

@media all and (max-width: 414px) {
  section.page-banner {
    min-height: 80vh;

    &.error-banner {
      min-height: 30vw;
      height: 30vw !important;
    }

    p {
      font-size: .8rem;
      line-height: 1.5rem;
    }
  }
}