.product-collapse {
  &__item {
    width: 100%;
  }

  &__heading {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

    a {
      font-size: 1.2rem;
      font-weight: 600;
      text-transform: uppercase;
      color: $color__company-primary;
    }
  }

  &__toggle {
    position: relative;
    width: 100%;

    .collapse-arrow {
      position: absolute;
      right: 0;
      top: 0;
      background-size: 100%;
      width: 16px;
      height: 16px;
      background-image: url("/wp-content/themes/webcommitment-theme/img/icons/right-arrow.svg");
      background-repeat: no-repeat;
      transform: rotate(180deg);
    }

    &.open {
      .collapse-arrow {
        transform: rotate(0deg);
      }
    }

    &.active {
      .collapse-arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__body {
    h2 {
      display: none;
    }

    ul {
      padding-left: 30px;
      list-style-type: none;

      li {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: -45px;
          background-image: url("/wp-content/themes/webcommitment-theme/img/icons/check-red.svg");
          background-size: 20px 19px;
          background-repeat: no-repeat;
          background-position: center;
          width: 45px;
          height: 100%;
        }
      }
    }
  }
}
