.single-product-wrapper {
  height: auto;
  position: relative;
  z-index: 1;

  &__content {
    position: relative;
    padding: 10px 0;
  }

  &__image-wrapper {

    @media (min-width: 992px) {
      margin-right: 50px;
    }
    @media (min-width: 1200px) {
      margin-right: 120px;
    }
    @media (min-width: 1600px) {
      margin-right: 150px;
    }
    @media (min-width: 1800px) {
      margin-right: 200px;
    }


    .woocommerce-product-gallery {
      .woocommerce-product-gallery__wrapper {
        width: 100%;
        height: auto;
        background: white !important;

        img {
          border: none;
          max-width: 100%;
          //max-height: none;
          max-height: 600px;
          aspect-ratio: 1 / 1;
          object-fit: contain;
        }
      }
    }

    > div {

      > div {
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(4, 0, 61, 0.025);
        border: solid 1px rgba(0, 0, 0, 0.05);
        overflow: hidden;
        background: white !important;

      }

      ol {
        display: flex;
        justify-content: flex-start;
        padding: 20px 0px 20px 0 !important;
        flex-wrap: wrap;
        gap:10px;

        li {
          &:first-of-type {
            margin-left: 0 !important;
          }

          border-radius: 5px;
          flex:0 0 calc(10% - 9px);
          box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
          overflow: hidden;

          img {
            border-radius: 10px !important;
            object-fit: cover;
          }
        }
      }

      figure {
        &:first-child {
          padding-bottom: 2%;
        }
      }
    }

    .product-item__discount {
      top: 70px;
      left: 20px;
      width: 60px;
    }
  }

  &__details {
    margin-top: 40px;
    h2 {
      margin-bottom: 0;
    }

    &--bottom {
      h2 {
        font-size: 1.4rem;
      }

      ul {
        li {
          font-size: 1rem;
          padding-bottom: 5px;
          font-weight: 500;

        }
      }
    }
  }

  &__related,
  &__upsell {
    background-color: white;


    ul.products {
      display: flex;
      flex-wrap: wrap !important;
    }

    li.type-product {
      position: relative;
      box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
      border-radius: 10px;
      margin-bottom: 50px;
      background-color: white;
      margin-right: 0;
      position: relative;
      width: 90% !important;
      @media (min-width: 768px) {
        width: 28% !important;
      }

      @media (min-width: 1200px) {
        width: 22% !important;
      }

      .woocommerce-loop-product {
        &__title {
          font-size: 1.25rem !important;
          padding: 20px 0px 0 40px !important;
          position: relative;
        }

        &__link {
          img {
            border-radius: 10px 10px 0 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: 100%;
          }

          .star-rating {
            display: none;
          }
        }
      }

      .price {
        padding-left: 40px !important;
        padding-bottom: 20px !important;
        display: flex !important;
        align-items: baseline;
        justify-content: flex-end;
        flex-direction: row-reverse;
        font-size: 2rem !important;
      }

    }

    span.onsale {
      position: absolute;
      top: 25px !important;
      left: 25px !important;
      background: linear-gradient(
                      to right,
                      red 0%,
                      green
      );
      color: #fff;
      padding: 6px 10px 6px 10px;
      line-height: 1rem;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 5px;
      min-height: auto;
    }

  }

  &__upsell {
    padding-top: 50px;
    background-color: rgba(4, 0, 61, 0.07);
  }
}


.woocommerce-product-gallery__wrapper {
  > div {
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
  }
}


//
//.single-product-wrapper__related li.type-product .price span:nth-of-type(2) {
//  margin-left: 10px !important;
//}
