aside.wc_breadcrumb{
  margin:0 0 15px;
  background: rgba(0, 0, 0, 0.033);
  padding: 10px 5px;
  span{
    font-weight:500;
    a{
      padding:0 5px;
    }
    &.breadcrumb_last{
      color: $color__company-secondary;
    }
  }
}

section.single-product-wrapper{
  padding: 25px 0 0;
  h1{
    margin-top:0;
    margin-bottom:0;
  }
  .product{
    .p-wrapper{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .p-images{
        flex-basis: 30%;
        .woocommerce-product-gallery{
          float:none !important;
          width:100% !important;

          @media all and (max-width: 768px){
            width: 100% !important;
            float: none !important;
            margin: 0 !important;
          }
        }
      }
      .p-summary{
        flex-basis: 65%;
        table.variations{
          select{
            padding:5px;
            outline: 0 !important;
          }
          .reset_variations{
            font-weight:600;
            color: $color__company-secondary;
          }
        }
        .woocommerce-variation-price{
          margin-bottom:15px;
          font-weight:300;
        }
        .quantity{
          input[type="number"]{
            padding:5px;
            outline: 0 !important;
            border: 1px solid #D5D5D5;
          }
        }
      }
    }
  }
}

section.related{
  .products{
    margin-top:25px;
  }
}

@media all and (max-width: 576px){
  section.single-product-wrapper {
    .product {
      .p-wrapper{
        flex-wrap: wrap;
        .p-images{
          flex-basis: 100%;
          margin-bottom:25px;
        }
        .p-summary{
          flex-basis: 100%;
        }
      }
    }
  }
}