.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  float: none;
  width: 100%;
}

button.button.alt.disabled, .woocommerce button.button.alt.disabled {
  background: $color__company-secondary;

  &:hover {
    background: $color__company-secondary;
  }
}

section#page-woo {
  padding: 25px 0 25px;
  
}

.woocommerce {
  .entry-summary {
    margin-top: 0;

    .product_title {
      margin-bottom: 0;
    }

    .price {
      margin: 25px 0;

      span.amount {
        font-size: 2rem;
      }
    }
  }

  p.form-row {
    float: none;
    width: 100%;

    label {
      width: 100%;
    }

    span.woocommerce-input-wrapper {
      width: 100%;
    }
  }

  ul.products {
    li.product {

      .woocommerce-loop-product__title {
        font-size: 1.5rem;
        @media all and (min-width: 1200px){
          font-size: 1.15rem;
        }
        @media all and (min-width: 1920px){
          font-size: 1.25rem;
        }
        margin-bottom:5px;
        font-weight: 600;
      }

      .price {
        font-size: 1.25rem;
      }

      a.woocommerce-loop-product__link {
        position: relative;
        img {
          background: white;
          max-height: 400px;
          object-fit: contain !important;
          aspect-ratio: 4/7;
          border-top-right-radius: 50px;
          border-bottom-left-radius: 50px;
          -webkit-box-shadow: 0px 0px 18px 12px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 18px 12px rgba(0, 0, 0, 0.12);
          &.hover-img{
            @include transition;
            position: absolute;
            left:0;
            opacity: 0;
            visibility: hidden;
            -webkit-box-shadow: none;
            box-shadow: none;
          }
        }
        &:hover{
          .hover-img{
            opacity: 1;
            visibility: visible;
            &.is-variable{
              opacity: 0;
              visibility: hidden; 
            }
          }
        }
      }
      p{
        margin-bottom:0;
      }
    }
  }

  form.login, form.register {
    margin-bottom: 75px;

    label {
      display: block;
      width: 100%;
    }

    span.password-input {
      width: 100%;
    }

    input {
      float: none;
    }
  }

  .woocommerce-MyAccount-navigation {
    margin-bottom: 25px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        padding: 10px;
        background: rgba(0, 0, 0, 0.05);
        border-bottom: solid 1px #fff;
        color: $color__text-main;

        &.is-active {
          background: $color__company-primary;

          a {
            &:link, &:visited {
              color: #fff;
              font-weight: bold;
            }
          }
        }

        a {
          &:link, &:visited {
            color: $color__text-main;
            font-weight: 300;
          }
        }

        &:last-of-type {
          border: none;
        }
      }
    }
  }

  .woocommerce-MyAccount-content {
    .woocommerce-Addresses {
      .primary-btn {
        display: table;
        margin-bottom: 25px;
      }
    }

    form {
      margin-bottom: 75px;

      p.form-row {
        float: none;
        width: 100%;
      }

      label, span.woocommerce-input-wrapper {
        display: block;
        width: 100%;
      }

      span.password-input {
        width: 100%;
      }

      input {
        float: none;
      }

      button[type="submit"] {
        margin-top: 15px;
      }
    }
  }

  .woocommerce-customer-details {
    .woocommerce-column--billing-address {
      margin-bottom: 25px;
    }
  }
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: $color__company-secondary;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;

  &:hover {
    background-color: $color__company-primary;
  }
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  @include transition;
  background-color: $color__company-secondary;
  color: #fff;

  &:hover {
    background-color: $color__company-primary;
    color: #fff;
  }
}

.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled] {
  background: rgba(0, 0, 0, 0.1);
}

form.checkout {
  padding-bottom: 50px;
}

.woocommerce-billing-fields {
  p.form-row {
    width: 100%;
    float: unset;

    label {
      width: 100%;
      display: block;
    }

    span.woocommerce-input-wrapper {
      width: 100%;
    }
  }
}

.woocommerce-page {

  ul.products {
    li.product {
      background: transparent;
    }
  }
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).color-variable-item.selected:not(.no-stock) .variable-item-contents:before, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).image-variable-item.selected:not(.no-stock) .variable-item-contents:before{
  background-image: none;
}

.wvs_archive_reset_variations{
  display: none !important;
}

.reset_variations{
  display:none !important;
}

.single-product-variable-items{
  margin-bottom:15px !important;
}

.archive-variable-items{
  margin-bottom:10px !important;
}